<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <div>
    <p>{{ product.description }}</p>
  </div>
  <h4 class="ratio" *ngIf="product.rating">
    Rating: {{product.rating}}
  </h4>
  <div>
    <img class="image" src="{{product.imagesource}}" />
  </div>
  <br />
  <a href="{{product.source}}"> Go to Amazon </a><br />
  <button class="buy" (click)="addToCart(product)">Buy</button>

  <div class="likes">
    <button (click)="likeButtonClick()">Like</button>
    <p class="num-of-likes">{{numberOfLikes}}</p>
  </div>
</div>
