<div class="categories">
  <a routerLink="/products/1">
    AMD Ryzen 5 3600 6-Core, 12-Thread Unlocked Desktop Processor with Wraith
    Stealth Cooler</a
  >
  <br />
  <a routerLink="/products/2"> BenQ MOBIUZ EX2510 24.5 Inch 144Hz </a> <br />
  <a routerLink="/products/3"> Oecrayy 24" Curved Gaming Monitor 144Hz</a>
  <br />
  <a routerLink="/products/4">
    SAMSUNG 27-inch T35F LED Monitor with Border-Less Design
  </a>
  <br />
  <a routerLink="/products/5"> Sceptre 34-inch Curved UltraWide 21 </a> <br />
</div>
